<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<link rel="canonical" href="https://altcoinwhales.com/crypto-terms/" />
	<meta name="robots" content="index, follow" />
    <link rel="shortcut icon" type="image/png" href="../favicon.png">

	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../style.css">
	<link rel="stylesheet" type="text/css" href="../css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="../css/all.min.css">

    <title>Crypto terms</title>



<!-- Analytics -->

<!-- Analytics END -->

</head>
<body data-clean-url="true" class="mob-disable-anim ">
<!-- Main container -->
<div class="page-container">

<!-- head -->
<div class="bloc none bgc-blue-ryb d-bloc " id="head">
	<div class="container bloc-sm bloc-sm-lg">
		<div class="row align-items-center">
			<div class="col-sm-6 offset-sm-3 col">
				<a href="../"><img src="../img/botlogo.jpg" class="img-fluid rounded-circle mx-auto d-block img-botlo-style img-protected" alt="logo" /></a>
			</div>
			<div class="col-12 col-11 col">
				<h1 class="text-center  mg-md h1-style mx-auto d-block pressed-t">
					<strong>Altcoinwhales</strong><br>
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- head END -->

<!-- navbar -->
<div class="bloc bgc-blue-ryb none d-bloc" id="navbar">
	<div class="container bloc-sm bloc-no-padding-lg">
		<div class="row g-0">
			<div class="offset-lg-4 col-lg-8">
				<nav class="navbar row nav-invert navbar-dark navbar-expand-sm" role="navigation">
					<div class="container-fluid nav-invert">
						<button id="nav-toggle" type="button" class="ui-navbar-toggler navbar-toggler border-0 p-0" aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse" data-bs-target=".navbar-9976">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse navbar-9976">
							<ul class="site-navigation nav navbar-nav" data-bs-placement="top" data-bs-toggle="tooltip">
								<li class="nav-item">
									<a href="../rules/" class="a-btn nav-link">Rules</a>
								</li>
								<li class="nav-item">
									<a href="." class="nav-link">Crypto terms</a>
								</li>
								<li class="nav-item">
									<a href="../useful-links/" class="nav-link">Useful links</a>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link a-btn">Ressources</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- navbar END -->

<!-- cat -->
<div class="bloc none bgc-dim-gray" id="cat">
	<div class="container bloc-sm-lg bloc-sm">
		<div class="row">
			<div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
				<h2 class="text-lg-center mg-md text-center mg-sm-xs h2-cat-style">
					<strong>Popular crypto terms</strong>
				</h2>
			</div>
		</div>
	</div>
</div>
<!-- cat END -->

<!-- indax -->
<div class="bloc l-bloc" id="indax">
	<div class="container bloc-lg bloc-md-lg">
		<div class="row">
			<div class="col">
				<h4 class="float-lg-none mg-sm h4-altcoin-alt-style">
					<strong>Altcoin / Alt</strong>
				</h4>
				<p>
					Any cyptocurrency other than Bitcoin
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>Alt season</strong>
				</h4>
				<p>
					An alt(s) season is a phase of the crypto market in which most altcoins have very high rally percentages.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>ATH</strong>
				</h4>
				<p>
					All Time High, the highest price that an asset has achieved since its listing.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>Bagholder</strong>
				</h4>
				<p>
					Someone with an amount of asset stucked at a very high price relative to the current price. He can't sell because of massive loss.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>Bearish</strong>
				</h4>
				<p>
					Sentiment of decline (asset or market). Reference to the bear.&nbsp;A bear attacks with its claws from the top down.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>Bullish</strong>
				</h4>
				<p>
					Sentiment of rise (asset or market). Reference to the bull.&nbsp;A bull attacks with its horns from the bottom up.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>Break even</strong>
				</h4>
				<p>
					You have closed a position with no losses nor profits. You're "break even".
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>Breakout</strong>
				</h4>
				<p>
					When the price of a coin moves outside a defined zone or pattern such as support or resistance.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>BTFD</strong>
				</h4>
				<p>
					Buy The Fucking Dip !
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>DYOR</strong>
				</h4>
				<p>
					Do your own research
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>FIAT</strong>
				</h4>
				<p>
					Fiduciary currency (like Dollar, Yen or Euro)
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>FOMO</strong>
				</h4>
				<p>
					Fear Of Missing Out
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>FUD</strong>
				</h4>
				<p>
					Fear, Uncertainty & Doubt
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>HODL</strong>
				</h4>
				<p>
					"hold on for dear life." The acronym originally came from a misspelling in a <a href="https://bitcointalk.org/index.php?topic=375643.0" rel="nofollow noopener noreferrer" target="_blank">Bitcointalk forum</a>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>MOON</strong>
				</h4>
				<p>
					A currency that rises sharply in value<br>
				</p>
			</div>
		</div>
	  	<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>NGMI</strong>
				</h4>
				<p>
					"Not Going To Make It"<br>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>Panic sell</strong>
				</h4>
				<p>
					Global sell based on fear<br>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>Ponzi</strong>
				</h4>
				<p>
					Originally from Charles Ponzi, is a scam in which new investors funds are used to pay returns promised to previous investors<br>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>REKT</strong>
				</h4>
				<p>
					"rekt" slang for "wrecked." it means that a trader lost substantial amounts of money<br>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>Sat</strong>
				</h4>
				<p>
					The smallest amount of Bitcoin 0.00000001 (7 zeros) is called a Satoshi (sat).<br>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>Satoshi Nakamoto</strong>
				</h4>
				<p>
					Satoshi Nakamoto is the individual, or group of individuals, credited for founding the world&rsquo;s first cryptocurrency, Bitcoin. The founder of Bitcoin remains completely anonymous.<br>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>Scam</strong>
				</h4>
				<p>
					A fraudulent scheme, typically for making quick profits.<br>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>SHILL (a coin)</strong>
				</h4>
				<p>
					A shiller is usually someone that has bought a a large bag of a particular crypto & tells to many people how great it is, in the hope that they buy it as well, in order to increases the demand then sell it high.<br>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>Swap</strong>
				</h4>
				<p>
					Exchange of a cryptocurrency without the need for a centralized market or other intermediaries.<br>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>TA</strong>
				</h4>
				<p>
					Technical Analyses<br>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>Whale</strong>
				</h4>
				<p>
					An individual or organization that holds a large amount of Bitcoin or other cryptocurrency, allowing them to impact the markets.<br>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<h4 class="h4-altcoin-alt-style">
					<strong>Weak Hands</strong>
				</h4>
				<p>
					Traders or investors that have lost the confidence to hold their assets are called weak hands.<br>
				</p>
				<div class="divider-h">
					<span class="divider"></span>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- indax END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32"><path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13"/></svg></a>
<!-- ScrollToTop Button END-->


<!-- waves -->
<div class="bloc l-bloc" id="waves">
	<div class="container bloc-sm bloc-no-padding-lg">
		<div class="row">
			<div class="col">
				<div><div class="waves-container" data-wave-front-color="#FFFFFF" data-wave-middle-color="#00FCFF" data-wave-back-color="#0000f8" data-wave-height="70"><canvas id="wave-canvas"></canvas></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- waves END -->

</div>
<!-- Main container END -->



<!-- Additional JS -->
<script src="../js/all.js"></script><!-- Additional JS END -->


</body>
</html>
