{% extends 'base.html' %}
{% load static %}
{% block title %}AltcoinWhales{% endblock %}
<!-- accro -->
<div class="bloc none l-bloc" id="accro">
	<div class="container bloc-sm bloc-no-padding-lg">
		<div class="row voffset">
			<div class="col-12 col-11 col-lg-8 offset-lg-2 align-self-center">
				<h2 class="text-center  mg-sm text-lg-center mx-auto d-block h2-style tc-black">
					<span>&nbsp;Telegram channel & group&nbsp;</span>
				</h2>
				<h3 class="text-center  animSpeedSlow h3-style mg-md tc-black">
					charts, forecasts, insights
				</h3>
			</div>
		</div>
	</div>
</div>
<!-- accro END -->

<!-- whales -->
<div class="bloc none l-bloc" id="whales">
	<div class="container bloc-sm-lg bloc-no-padding">
		<div class="row">
			<div class="col none animated rubberBand animDelay1 animSpeedSlow" data-appear-anim-style="rubberBand">
				<a href="https://t.me/altcoinwhales" class="link-style animated flip-hvr"><img src="img/altologo.jpg" class="img-fluid rounded-circle mx-auto d-block img-style animated rubberBand-hvr" alt="altologo" /></a>
			</div>
		</div>
	</div>
</div>
<!-- whales END -->

<!-- nono -->
<div class="bloc none l-bloc" id="nono">
	<div class="container bloc-md bloc-md-lg">
		<div class="row voffset">
			<div class="col">
				<h5 class="text-lg-center mx-auto d-block animated pulse animSpeedSlow animLoopInfinite text-center pressed-t h4-style mg-clear " id="no" data-appear-anim-style="pulse">
					<strong>No overhasty “signals” & no scam <br>Focus & awareness about what it is when it is</strong><br><br>
				</h5>
			</div>
		</div>
	</div>
</div>
<!-- nono END -->
