<!-- navbar -->
<div class="bloc bgc-blue-ryb none d-bloc" id="navbar">
    <div class="container bloc-sm bloc-no-padding-lg">
        <div class="row g-0">
            <div class="offset-lg-4 col-lg-8">
                <nav class="navbar row nav-invert navbar-dark navbar-expand-sm" role="navigation">
                    <div class="container-fluid nav-invert">
                        <button id="nav-toggle" type="button" class="ui-navbar-toggler navbar-toggler border-0 p-0"
                                aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse"
                                data-bs-target=".navbar-9976">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse navbar-9976">
                            <ul class="site-navigation nav navbar-nav" data-bs-placement="top" data-bs-toggle="tooltip">
                                <li class="nav-item">
                                    <a href="./rules/" class="a-btn nav-link">Rules</a>
                                </li>
                                <li class="nav-item">
                                    <a href="./crypto-terms/" class="nav-link">Crypto terms</a>
                                </li>
                                <li class="nav-item">
                                    <a href="./useful-links/" class="nav-link">Useful links</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link a-btn">Ressources</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- navbar END -->