<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<link rel="canonical" href="https://altcoinwhales.com/rules/" />
	<meta name="robots" content="index, follow" />
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}>

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}>

    <title>Rules</title>



<!-- Analytics -->

<!-- Analytics END -->

</head>
<body data-clean-url="true" class="mob-disable-anim ">
<!-- Main container -->
<div class="page-container">

<!-- head -->
<div class="bloc none bgc-blue-ryb d-bloc " id="head">
	<div class="container bloc-sm bloc-sm-lg">
		<div class="row align-items-center">
			<div class="col-sm-6 offset-sm-3 col">
				<a href="../"><img src="../img/botlogo.jpg" class="img-fluid rounded-circle mx-auto d-block img-botlo-style img-protected" alt="logo" /></a>
			</div>
			<div class="col-12 col-11 col">
				<h1 class="text-center  mg-md h1-style mx-auto d-block pressed-t">
					<strong>Altcoinwhales</strong><br>
				</h1>
			</div>
		</div>
	</div>
</div>
<!-- head END -->

<!-- navbar -->
<div class="bloc bgc-blue-ryb none d-bloc" id="navbar">
	<div class="container bloc-sm bloc-no-padding-lg">
		<div class="row g-0">
			<div class="offset-lg-4 col-lg-8">
				<nav class="navbar row nav-invert navbar-dark navbar-expand-sm" role="navigation">
					<div class="container-fluid nav-invert">
						<button id="nav-toggle" type="button" class="ui-navbar-toggler navbar-toggler border-0 p-0" aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse" data-bs-target=".navbar-9976">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse navbar-9976">
							<ul class="site-navigation nav navbar-nav" data-bs-placement="top" data-bs-toggle="tooltip">
								<li class="nav-item">
									<a href="." class="a-btn nav-link">Rules</a>
								</li>
								<li class="nav-item">
									<a href="../crypto-terms/" class="nav-link">Crypto terms</a>
								</li>
								<li class="nav-item">
									<a href="../useful-links/" class="nav-link">Useful links</a>
								</li>
								<li class="nav-item">
									<a href="#" class="nav-link a-btn">Ressources</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- navbar END -->

<!-- bloc-14 -->
<div class="bloc none bgfix bg-altologo bg-b-edge l-bloc" id="bloc-14">
	<div class="container bloc-lg bloc-md-lg">
		<div class="row">
			<div class="col">
				<div class="text-center btnfix">
					<a href="#" class="btn  w-100 btn-glossy btn-rich-electric-blue btn-lg" data-bs-toggle="modal" data-bs-target="#modal-watchout">Altwhales private group rules</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-14 END -->

<!-- rules -->
<div class="bloc bg-tl-edge bloc-bg-texture texture-darken bgc-rich-electric-blue d-bloc" id="rules">
	<div class="container bloc-lg bloc-sm-lg">
		<div class="row" id="anchorules">
			<div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3" id="r1">
				<h4 class="text-lg-start mg-md h4-altcoin-alt-style">
					<span class="fa fa-exclamation-triangle none pressed-t"></span><strong>&nbsp; Don't forward content from unreliable sources</strong>
				</h4>
				<p>
					Verify your sources before posting, don’t get caught by a random tweet, don’t FUD.
					Also don't shill Telegram groups & promo like..
					We don't allow referral links because they aren't info but promo.<br>
				</p>
			</div>
			<div class="col-lg-6 offset-lg-3" id="r2">
				<h4 class="mg-md h4-altcoin-alt-style">
					<span class="fa fa-surprise pressed-t"></span><strong>&nbsp; In a nutshell avoid self promo</strong>
				</h4>
				<p>
					Be social by sharing your thoughts. Relevant communication makes the difference between grabbing informations or having knowledge.<br>Technical charts or ideas posted from a direct source are always welcome.&nbsp;<br>
				</p>
			</div>
			<div class="offset-lg-3 col-lg-6" id="r3">
				<h4 class="mg-md h4-altcoin-alt-style">
					<span class="pressed-t far fa-window-close"></span><strong>&nbsp; Do not engage a deal, even via private msg</strong>
				</h4>
				<p>
					&nbsp;You gonna expose yourself to a lot of troubles. &nbsp;99% of the time guarantee.&nbsp; Consider legit or well known platforms for trading.<br>
				</p>
			</div>
			<div class="offset-lg-3 col-lg-6" id="r4">
				<h4 class="mg-md h4-altcoin-alt-style">
					<span class="fab fa-rocketchat pressed-t"></span><strong>&nbsp; What am i allowed to post then?</strong>
				</h4>
				<p>
					Any verified info or relevant news, your own charts, your ideas about prices, crypto, your own projects, anything related to this space.<br>Gifs, pics are allowed as long as they remain pertinent. We all love jokes )<br>
				  Note that you have to wait 24h after registration to post media.<br>
				  Also feel free to ask... There's no dumb question!
				</p>
			</div>
			<div class="offset-lg-3 col-lg-6" id="r5">
				<h4 class="mg-md h4-altcoin-alt-style">
					<span class="fa fa-poo-storm pressed-t"></span><strong>&nbsp;Otherwise?</strong>
				</h4>
				<p>
					If a post is not appropriate (typically selfish promo), you're warned.&nbsp;The first warning is active for a week then penalty is over.&nbsp;However, if a similar message is posted before the end of the period, warnings remain active indefinitly.<br>Lastly, if you're dumb enough to post a 3rd crappy post, you're banned. Simple as that.&nbsp;<br>Note that content such as porn, illegal stuff proposals, or flooding activities may result in a ban without any prior warning.<br>
				</p>
			</div>
			<div class="offset-lg-3 col-lg-6" id="r6">
				<h4 class="mg-md h4-altcoin-alt-style">
					<span class="fa fa-child pressed-t"></span><strong>&nbsp;Last but not least</strong>
				</h4>
				<p>
					If you're here to find a way to win big & very fast , you waste your time, go to casinos , then buy a Lambo & see you in Ibiza.<br>
				</p>
			</div>
		</div>
	</div>
</div>
<!-- rules END -->

<!-- bloc-16 -->
<div class="bloc tc-olive-drab-7 l-bloc none" id="bloc-16">
	<div class="container bloc-lg bloc-md-lg">
		<div class="row">
			<div class="offset-lg-3 col-lg-6">
				<div id="modal-watchout" class="modal fade" tabindex="-1" role="dialog">
					<div class="modal-dialog  modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="bgc-rich-electric-blue modal-header">
								<h4 class="mg-clear h4-altcoin-alt-style">
									<strong>For those of you who are new to crypto. <br>Watch out❗️</strong>
								</h4>
							</div>
							<div class="modal-body">
								<p class="mg-clear">
									<strong>- Private message asking for help withdrawing funds.<br>- Free giveaways, airdrops, investment platforms, mining bots, <br>- "pay one get two" schemes.<br>- Pump signals or “insider" groups are mostly scams, especially paid services. Be cautious.<br>- Whatever claims huge returns in a no-time.<br>- Real admins never ask for money or private keys.<br><br>- <u>Treat all private messages as suspicious</u>❗️</strong><br>
								</p>
							</div>
							<div class="modal-footer">
								<a href="#" class="btn float-lg-none w-100 btn-sq btn-cobalt" data-bs-toggle="modal" data-bs-target="#modal-watchout">Ok!</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- bloc-16 END -->

<!-- ScrollToTop Button -->
<a class="bloc-button btn btn-d scrollToTop" onclick="scrollToTarget('1',this)"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 32 32"><path class="scroll-to-top-btn-icon" d="M30,22.656l-14-13-14,13"/></svg></a>
<!-- ScrollToTop Button END-->


<!-- waves -->
<div class="bloc l-bloc" id="waves">
	<div class="container bloc-sm bloc-no-padding-lg">
		<div class="row">
			<div class="col">
				<div><div class="waves-container" data-wave-front-color="#FFFFFF" data-wave-middle-color="#00FCFF" data-wave-back-color="#0000f8" data-wave-height="70"><canvas id="wave-canvas"></canvas></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- waves END -->

</div>
<!-- Main container END -->



<!-- Additional JS -->
<script src="../js/all.js"></script><!-- Additional JS END -->


</body>
</html>
